<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-links"></head>
<body>

<div th:replace="fragments/header :: head-navbar"></div>

<div id="new-comment-form" class="container w-50">
	<h1 class="display-4 text-center" th:text="'Add New Comment to ' + ${campground.name}"></h1>
	<form th:action="@{/campgrounds/{id}/comments(id = ${campground.id})}" th:object="${comment}" method="POST">
		<div class="form-group">
			<label for="inputCommText">Text:</label>
			<input maxlength="512" type="text" class="form-control" id="inputCommText" th:field="*{text}" maxlength="255">
		</div>
		<button type="submit" class="btn btn-primary btn-block my-4">Submit</button>
	</form>
	<a th:href="@{/campgrounds/{id}(id = ${campground.id})}">Go Back</a>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>