<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-links"></head>
<body>

<div th:replace="fragments/header :: head-navbar"></div>

<div id="edit-campground-form" class="container w-50">
	<h1 class="display-4 text-center" th:text="'Edit ' + ${campground.name}"></h1>
	<form th:action="@{/campgrounds/{id}(id = ${campground.id})}" th:object="${campground}" th:method="PUT">
		<div class="form-group">
			<label for="inputCampName">Campground name:</label>
			<input type="text" class="form-control" id="inputCampName" th:field="*{name}" maxlength="255">
		</div>
		<div class="form-group">
			<label for="inputCampImg">Campground image url:</label>
			<input type="url" class="form-control" id="inputCampImg" th:field="*{image}" maxlength="255">
		</div>
		<div class="form-group">
			<label for="inputCampDesc">Campground description:</label>
			<input type="text" class="form-control" id="inputCampDesc" th:field="*{description}">
		</div>
		<div class="form-group">
			<label for="inputCampPrice">Campground price per night:</label>
			<input type="number" min="0" class="form-control" id="inputCampPrice" th:field="*{price}">
		</div>
		<button type="submit" class="btn btn-primary btn-block my-4">Submit</button>
	</form>
	<a th:href="@{/campgrounds/{id}(id = ${campground.id})}">Go Back</a>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>