<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-links"></head>
<body>

<div th:replace="fragments/header :: head-navbar"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<img th:src="${campground.image}" class="card-img-top" alt="campground image">
  				<div class="card-body">
					<h5 class="float-right" th:text="${'$ ' + campground.price + ' / night'}" ></h5>
    				<h4 class="card-title" th:text="${campground.name}"></h4>
    				<p class="card-text" th:text="${campground.description}"></p>
					<p class="blockquote-footer">Submitted By <cite title="Source Title" th:text="${campground.author}"></cite></p>
    				<div th:if="${#strings.equals(campground.author, currentUser)}">
						<a th:href="@{/campgrounds/{id}/edit(id = ${campground.id})}" class="btn btn-sm btn-warning">Edit</a>
						<form class="d-inline" th:action="@{/campgrounds/{id}(id = ${campground.id})}" th:method="DELETE">
							<button class="btn btn-sm btn-danger">Delete</button>
						</form>
					</div>
					<a class="btn btn-sm btn-success float-right" th:href="@{/campgrounds/{id}/comments/new(id = ${campground.id})}">Add New Comment</a>
  				</div>
			</div>
				<div class="card my-2" th:each="comment : ${campground.comments}">
					<div class="card-header">
						<span th:text="${comment.author}"></span>
						<span class="float-right" th:text="${comment.getLifetime()} + ' days ago'"></span>
					</div>
					<div class="card-body">
						<p class="card-text" th:text="${comment.text}"></p>
						<div th:if="${#strings.equals(comment.author, currentUser)}">
							<a th:href="@{/campgrounds/{id}/comments/{commentId}/edit(id = ${campground.id}, commentId = ${comment.id})}" class="btn btn-sm btn-warning">Edit</a>
							<form class="d-inline" th:action="@{/campgrounds/{id}/comments/{commentId}(id = ${campground.id}, commentId = ${comment.id})}" th:method="DELETE">
								<button class="btn btn-sm btn-danger">Delete</button>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>